body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
}

.main {
    max-width: 728px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 0 24px;
    font-weight: 400;
}

.header {
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}

.desc {
    margin-bottom: 1rem;
}

.header-link {
    font-weight: 600;
    white-space: nowrap;
}

.header-link  svg {
    vertical-align: middle;
}
